function Ball.new 0
push constant 9
call Memory.alloc 1
pop pointer 0
push argument 2
pop this 2
push argument 0
pop this 0
push argument 1
pop this 1
push constant 0
pop this 3
push constant 0
not
pop this 4
push constant 1
pop this 7
push constant 1
pop this 8
push this 0
pop this 5
push this 1
pop this 6
push pointer 0
return
function Ball.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ball.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 2
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Ball.clear 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 5
push this 6
push this 2
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Ball.move 0
push argument 0
pop pointer 0
push pointer 0
call Ball.movingInWindow 1
pop temp 0
push constant 0
return
function Ball.setTemps 0
push argument 0
pop pointer 0
push argument 1
pop this 5
push argument 2
pop this 6
push constant 0
return
function Ball.movingInWindow 0
push argument 0
pop pointer 0
push this 0
push this 2
add
push constant 1
add
push constant 512
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop this 4
label IF_FALSE0
push this 0
push this 2
sub
push constant 1
sub
push constant 0
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop this 4
label IF_FALSE1
push this 1
push this 2
sub
push constant 1
sub
push constant 0
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
pop this 3
label IF_FALSE2
push this 4
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
push this 7
sub
pop this 0
goto IF_END3
label IF_FALSE3
push this 0
push this 7
add
pop this 0
label IF_END3
push this 3
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 1
push this 8
add
pop this 1
goto IF_END4
label IF_FALSE4
push this 1
push this 8
sub
pop this 1
label IF_END4
push constant 0
return
function Ball.getX 0
push argument 0
pop pointer 0
push this 0
return
function Ball.getY 0
push argument 0
pop pointer 0
push this 1
return
function Ball.getRadius 0
push argument 0
pop pointer 0
push this 2
return
function Ball.getTopLeft 0
push argument 0
pop pointer 0
push this 0
push this 2
sub
push this 1
push this 2
sub
call Point.new 2
return
function Ball.getTop 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 2
sub
call Point.new 2
return
function Ball.getTopRight 0
push argument 0
pop pointer 0
push this 0
push this 1
add
push this 1
push this 2
sub
call Point.new 2
return
function Ball.getLeft 0
push argument 0
pop pointer 0
push this 0
push this 2
sub
push this 1
call Point.new 2
return
function Ball.getRight 0
push argument 0
pop pointer 0
push this 0
push this 2
add
push this 1
call Point.new 2
return
function Ball.getDownLeft 0
push argument 0
pop pointer 0
push this 0
push this 2
sub
push this 1
push this 2
add
call Point.new 2
return
function Ball.getDown 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 2
add
call Point.new 2
return
function Ball.getDownRight 0
push argument 0
pop pointer 0
push this 0
push this 2
add
push this 1
push this 2
add
call Point.new 2
return
function Ball.changeHorizontalDirection 0
push argument 0
pop pointer 0
push this 4
not
pop this 4
push constant 0
return
function Ball.changeVerticalDirection 0
push argument 0
pop pointer 0
push this 3
not
pop this 3
push constant 0
return
